body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenido{
    background-color: #C1FBFF;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 2fr 1fr / 0.5fr 2fr 0.5fr
}
.imagenatras{
    grid-area: imagenatras;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-items: center;   
}
.botones{
    grid-area: botones;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;   
}
.logousta{
    grid-area: logo;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: end;
    align-items: start; 
}
.tabla{
    grid-area: tabla;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-self:center; 
    
}
.tabla table{
    background-color: #325D5E;
 text-align: center;
 vertical-align: top;
}
.tabla th{
    font-weight:bold;
}
.tabla th, td{
padding: 0.3em;
}
.titulota{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.banner{
    grid-area: logof;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center; 
}
.cerrars{
    grid-area: boton4;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    justify-self: center;
    align-items: center; 
}
.botones002{
    
    align-items: flex-start;
    justify-self: center;
}
.botones001{
    align-items: flex-end;
    justify-self: center;
    
}
.botones button{ 
    background-color: #549B9E;
    font-size: 20px;
}
.botonatras{
    background-color: #549B9E;
    font-size: 20px;
}
.cerrarsesion{
    background-color: #549B9E;
    font-size: 20px;
}
.ttabla{
   text-align: center;
   vertical-align: 10px;
   text-align: center;
    font-weight: bold;
}
.nid{
    background-color:#549B9E ;
}
.numeroid{
    font-size: 20px;
}
.titulo{
    font-size: 20px;
}
.nide{
    background-color:#549B9E ; 
}