body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.contenedor{
    background-color: #C1FBFF;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.5fr 1fr 1fr / 0.5fr 2fr 0.5fr;
    
}
.cabeza{
    grid-area: cabeza;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;    
}
.tronco1{
    grid-area: tronco1;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;    
}
.finalp{
    grid-area: tronco1;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    justify-self: center;
    align-items: center;  
}
.cabeza img{
width: 500px;
}
.usuario{
    font-size: 25px;
}
.contraseña{
    font-size: 25px;
}
.botonregistro{
    background-color: #549B9E;
}
.botoninicio{
    background-color: #549B9E;
}