body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenido{
    background-color: #C1FBFF;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.5fr 1fr 1fr / 0.5fr 2fr 0.5fr;
}
.cabeza{
    grid-area: cabeza;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
}
.batras{
    grid-area: cabeza;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: start;
    align-items: flex-start;
}
.imlogo{
    grid-area: cabeza;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: end;
    align-items: center; 
}

.datosr{
    grid-area: datosr;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
}
.logof{
    grid-area: logof;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
}
.logof img {
    width: 500px;
}
.imlogo img {
    width: 100px;
}
.rusuario{
    font-size: 25px;
}
.rcontraseña{
    font-size: 25px;
}
.rcorreo{
    font-size: 25px;
}
.ba{
    font-size: 20px;
    background-color: #549B9E;
}
.botonregistro{
    background-color: #549B9E;
}
